<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

  <!-- Data source -->
  <bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
    <property name="driver">
      <value>${db.connection.driver}</value>
    </property>
    <property name="driverUrl">
      <value>${db.connection.url}</value>
    </property>
    <property name="user" value="${db.connection.user}" />
    <property name="password" value="${db.connection.password}" />
    <property name="alias" value="${proxool.alias}" />
    <property name="houseKeepingSleepTime" value="${proxool.houseKeepingSleepTime}" />
    <property name="testBeforeUse" value="${proxool.testBeforeUse}" />
    <property name="prototypeCount" value="${proxool.prototypeCount}" />
    <property name="maximumConnectionCount" value="${proxool.maximumConnectionCount}" />
    <property name="minimumConnectionCount" value="${proxool.minimumConnectionCount}" />
    <property name="simultaneousBuildThrottle" value="${proxool.simultaneousBuildThrottle}" />
    <!-- <property name="maximumConnectionLifetime" value="14400000" /> -->
    <property name="houseKeepingTestSql" value="${proxool.houseKeepingTestSql}" />
    <property name="verbose" value="${proxool.verbose}" />
    <property name="trace" value="${proxool.trace}" />
    <!-- property name="driverClassName" value="org.logicalcobwebs.proxool.ProxoolDriver" / -->
    <!-- url中“.”后面的部分需要配置为proxool配置文件中的别名alias -->
    <!-- property name="url" value="proxool.plmdb" / -->
  </bean>

  <!-- Transaction 配置事物管理器，在*ServiceImpl里写@Transactional就可以启用事物管理 -->
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>
  <!-- 开启事务注解驱动 -->
  <tx:annotation-driven transaction-manager="transactionManager" />

  <import resource="spring-mybatis-scan.xml"/>
</beans>