.field-table{margin:10px 10px 30px;width:80%;}
.field-table .table{margin-top:10px;}
.field-table .font-icon{color:#06c;}
.field-table .font-icon:hover{color:#48b8e8;}
.editor-input{width:100%;}
.editor-input .mini-textbox-input{border:0 none;}